

<script type="text/javascript">
  window.onload = function(){
    jQuery('.income-menu').addClass('in');
    jQuery('.view_income').addClass('active');
    jQuery('.income').removeClass('collapsed');
  }
</script>