<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Payment Voucher</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'/>-->
    <link rel="stylesheet" type="text/css" href="/AircraftAdmin-Free/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/AircraftAdmin-Free/lib/font-awesome/css/font-awesome.css"/>
    <link href="/stylesheets/datepicker.css" rel="stylesheet" media="screen"/>

    <script src="/AircraftAdmin-Free/lib/jquery-1.11.1.min.js" type="text/javascript"></script>

    <script src="/AircraftAdmin-Free/lib/jQuery-Knob/js/jquery.knob.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        $(".knob").knob();
      });
    </script>


    <link rel="stylesheet" type="text/css" href="/AircraftAdmin-Free/stylesheets/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/AircraftAdmin-Free/stylesheets/premium.css"/>

  </head>
  <body class=" theme-blue">

    <!-- Demo page code -->

    <script type="text/javascript">
      $(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if(match) var color = match[1];
        if(color) {
          $('body').removeClass(function (index, css) {
            return (css.match (/\btheme-\S+/g) || []).join(' ')
          })
          $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});

      });
    </script>
  <style type="text/css">
    #line-chart {
      height:300px;
      width:800px;
      margin: 0px auto;
      margin-top: 1em;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
      color: #fff;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      var uls = $('.sidebar-nav > ul > *').clone();
      uls.addClass('visible-xs');
      $('#main-menu').append(uls.clone());
    });
  </script>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->

  <!--<![endif]-->

  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="" href="#"><span class="navbar-brand"><span class="fa fa-dollar"></span> Payment Voucher</span></a></div>

    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> <%= session[:user].first_name.to_s + " " + session[:user].last_name.to_s %>
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu">
            <li><a href="/personal_details">Personal details</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Admin Panel</li>
            <li><a href="/change_password">Change password</a></li>
            <li><a href="/lock_screen">Lock screen</a></li>
            <li><a tabindex="-1" href="/my_vouchers">My vouchers</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>



  <div class="sidebar-nav">
    <ul>
      <li><a href="#" data-target=".dashboard-menu" class="nav-header vouchers collapsed" data-toggle="collapse"><i class="fa fa-fw fa-paperclip"></i> Vouchers<i class="fa fa-collapse"></i></a></li>
      <li>
        <ul class="dashboard-menu nav nav-list collapse">
          <li class="new_voucher_menu"><a href="/new_voucher_menu"><span class="fa fa-caret-right"></span> New Voucher</a></li>
          <li class="edit_voucher_menu"><a href="/edit_voucher_menu"><span class="fa fa-caret-right"></span> Edit Voucher</a></li>
          <li class="view_voucher_menu"><a href="/view_voucher_menu"><span class="fa fa-caret-right"></span> View Voucher</a></li>
          <li class="void_voucher_menu"><a href="/void_voucher_menu"><span class="fa fa-caret-right"></span> Void Voucher</a></li>
        </ul>
      </li>

      <% if (session[:user].role.to_s.match(/admin/i)) %>
        <li><a href="#" data-target=".accounts-menu" class="nav-header user-accounts collapsed" data-toggle="collapse"><i class="fa fa-fw fa-user"></i> User Accounts <span class="label label-info">+<%= available_users.count %></span></a></li>
        <li>
          <ul class="accounts-menu nav nav-list collapse">
            <li class="new_user"><a href="/new_user"><span class="fa fa-caret-right"></span> New User</a></li>
            <li class="view_users"><a href="/view_users"><span class="fa fa-caret-right"></span> View Users</a></li>
            <li class="remove_user"><a href="/remove_user"><span class="fa fa-caret-right"></span> Remove User</a></li>
          </ul>
        </li>
      <% end %>
        
      <li><a href="#" data-target=".workings-menu" class="nav-header workings collapsed" data-toggle="collapse"><i class="fa fa-fw fa-adjust"></i> Workings<i class="fa fa-collapse"></i></a></li>
      <li>
        <ul class="workings-menu nav nav-list collapse">
          <li class="new_workings"><a href="/new_workings"><span class="fa fa-caret-right"></span> New item</a></li>
          <li class="edit_workings"><a href="/edit_workings"><span class="fa fa-caret-right"></span> Edit items</a></li>
          <li class="view_workings"><a href="/view_workings"><span class="fa fa-caret-right"></span> View items</a></li>
          <li class="void_workings"><a href="/void_workings"><span class="fa fa-caret-right"></span> Void items</a></li>
        </ul>
      </li>
      <li><a href="/search_vouchers_menu" class="nav-header"><i class="fa fa-fw fa-search"></i> Search vouchers</a></li>
      <li><a href="/upload_cash_book" class="nav-header"><i class="fa fa-fw fa-upload"></i> Upload Cash Book</a></li>
      <li><a href="/download_cash_book" class="nav-header"><i class="fa fa-fw fa-download"></i> Download Cash Book</a></li>

      <!--<li><a href="#" data-target=".report-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-bank"></i> Reports</a></li>
      <li>
        <ul class="report-menu nav nav-list collapse">
          <li ><a href="/payments_report"><span class="fa fa-caret-right"></span> Report 1</a></li>
        </ul>
      </li>-->

    </ul>
  </div>

  <div class="content">
    <div class="header">
      <!--<div class="stats">
        <p class="stat"><span class="label label-success"><%#= PaymentVoucher.todays_voucher_count %></span> Today&apos;s vouchers</p>
      </div>-->

      <h1 class="page-title"><%= @page_header %></h1>
      <ul class="breadcrumb">
        <li><a href="/">Home</a> </li>
        <li class="active"><%= @page_header %></li>
      </ul>

    </div>
    <div class="main-content">
      <div>
        <% if flash[:notice] %>
          <center><span class="label label-success"><%= flash[:notice] %></span></center>
          <br />
        <% end %>
        <% if flash[:error] %>
          <center><span class="label label-danger"> <%= flash[:error] %></span></center>
          <br />
        <% end %>
      </div>
      <%= yield %>
      <footer>
        <hr />

        <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
        <p>© 2017 <a href="http://www.webtechmw.com" target="_blank">WebTech++</a></p>
      </footer>
    </div>
  </div>


  <script src="/AircraftAdmin-Free/lib/bootstrap/js/bootstrap.js"></script>
  <script src="/javascripts/bootstrap-datepicker.js"></script>
  <script src="/javascripts/jquery.uniform.min.js"></script>
  <script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function() {
      $('.demo-cancel-click').click(function(){return false;});
      $(".datepicker").datepicker({uiLibrary: 'bootstrap'});
      $(".uniform_on").uniform();
    });
  </script>

  <style type="text/css">
    .pagination a, .pagination .current, .pagination .disabled {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #428bca;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
    }

    .pagination .current {
      background-color: #eee;
    }

    .pagination a:hover, .pagination a:focus{
      color: #2a6496;
      background-color: #eee;
      border-color: #ddd;
    }

    .pagination .disabled {
      color: #999;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd;
    }
  </style>

</body>
</html>
